.idea/
/**/__pycache__/*


/federated_kmeans/
/federated_kmeans_Stanford/
/fkm_old/
/fkm/results-gen_data/
/fkm/legacy /
/federated_kmeans_Stanford/

*.dat
*.png
**/.DS_Store
.gitignore

!/start_fkm.sh

!/gpu.sh
/.pytest_cache/
/fkm/datasets/3GAUSSIANS/
/fkm/datasets/10GAUSSIANS/
/fkm/datasets/FEMNIST/
/fkm/datasets/NBAIOT/
/fkm/datasets/SENT140/
/fkm/out/

/fkm/datasets/DRYBEAN/
/fkm/datasets/3GAUSSIANS/
/fkm/datasets/10GAUSSIANS/
/fkm/datasets/BITCOIN/
/fkm/datasets/CHARFONT/
/fkm/datasets/DRYBEAN/
/fkm/datasets/FEMNIST/
/fkm/datasets/GASSENSOR/
/fkm/datasets/MNIST/
/fkm/datasets/NBAIOT/
/fkm/datasets/SELFBACK/
/fkm/datasets/SENT140/
